div.carousel-inner {
    min-height: 300px;
	min-width: 550px;
	height: 550px;
	background-color: rgba(0,0,0,0.5);
}

div.carousel-inner div.item img {
	min-height: 400px;
	max-height: 400px;
	height: auto !important;
	width: auto !important;
}

div.carousel-caption {
	right: 10%;
    left: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: -100px;
	color: white;
}

div.carousel-caption h3.caption-title {
    padding-top: 5px;
	background-color: transparent;
}

div.carousel-caption div.caption-description {
    background-color: transparent;
}

.carousel-indicators li, 
.carousel-indicators .active {
	width: 20px;
	height: 20px;
	text-indent: initial;
	border-radius: 1px;
	margin: 0px 1px;
}

.carousel-indicators li {
	color: white;
}

.carousel-indicators .active {
	color: black;
}