body{

   font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color: #ddd;
}
.thumbnail{
   font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color:rgba(255,255,255,1);
}
.caption{
   font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color:  #ddd;
	border-radius: 5px;
	
}

#titulo1{
   font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	margin-bottom: 30px;
	background-color: #c9302c; /* #c12e2a; /*rgba(21,115,143,1);*/
	border-radius: 8px;
	text-align: center;
	color: white;
	padding: 1px;
}

#menu_pruductos.nav-pills>li>a{
	
   font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;color: white;
	background-color: #c9302c;
}
#menu_pruductos.nav-pills>li>a:hover {
	
   font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;color: black;
	background-color: white;
}
#menu_pruductos.nav-pills>li.active>a, #menu_pruductos.nav-pills>li.active>a:focus, #menu_pruductos.nav-pills>li.active>a:hover {
   
   
   font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif; color: #fff;
    background-color: rgba(0, 0, 0 , 0.7);
 
}
#btn_abre_puertas{
   font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	margin-bottom: 10px;
}
