#galeria {
    background-color: rgba(250, 250, 250, 0.1);
}

.galeria-bootstrap {
    padding: 0px;
}

#g_imagen {
    padding-top: 20px;
    padding-left: 0px;
}

.thumbnail {
    border: 0px solid #fff;
    height: 405px;
    background-color: rgba(250, 250, 250, 0.8);
}

.thumbnail img {
    max-height: 400px;
    min-height: 400px;
    height: auto !important;
    width: auto !important;
}

#g_content {
    background-color: rgba(250, 250, 250, 0.9);
    height: 404px;
    margin-top: 20px;
    border-radius: 3px;
}

.galeria_control {
    padding-bottom: 35px;
}

.thumbnail_desc {
    border: 2px groove #567;
    padding: 5px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 300px;
    background-color: rgba(252, 248, 227, 1);
}

.thumbnail_desc .g_title {
    text-align: center;
    border-bottom: 1px solid black;
}

.hide {
    display: none;
}

#ctrl_left {
    display: block;
    float: left;
}

#ctrl_right {
    display: block;
    float: right;
}