div .jMyCarousel {
	margin-top: 320px;
	height: 145px !important;
	background: darkgray;
}
div .jMyCarousel .prev {
	margin-top: 0px;
	background: url("../images/left.png") center center no-repeat;
	width:47px; 
	height:61px;
	opacity:0.6; 
	z-index:00;
	margin-top:10px; 
	
}
div .jMyCarousel .next {
	background: url('../images/rigth.png') center center no-repeat;
	width:47px; 
	height:61px;
	opacity:0.6; 
	z-index:200;
	margin-top:10px; 
}
div .jMyCarousel ul li {
	margin:0px;
	line-height:0px;
	padding:0px;
}
div .jMyCarousel ul li a {
	display:block;
	margin-top: 20px;
}
div.jMyCarousel ul li img {
	display:block;
	border:100px;
	margin: 0px 5px 0px;
}
#contenido_galeria {
	/*margin-left: 75px;*/
	height: 70px;
	position: relative;
	align-content: center;
}
#contenido_galeria img {	
	height: 300px;
	/*min-width: 200px;
	min-height: 100px;	
	margin-left: 75px;
	float: left;
	width: 400px;*/
}
#contenido_galeria p {
	height: 60px;
	width: 690px;
	top: 10px;
	box-shadow: 3px 3px 3px black;
	background: darkgray;
	opacity: 0.9;
	text-align: center;
	/*left: 110%;
	position: absolute;
	margin-left: 0px !important;*/
	
}
