@CHARSET "${UTF-8}";
/* Globals */
body {
    background-color: white;
    margin: 0;
    padding: 0;
}

h2{
    color: black;
}

h3, h4,h5{
    text-transform: uppercase;
}

a {
    color: white;
}

a:focus, a:hover {
    color: black;
    text-decoration: underline;
}

.nav li a {
	text-decoration: none;
}

.nav li a:focus , .nav li a:hover {
	color: black;
    background-color: #fff;
}

.btn-default{
	border-width: 0px;
    border-color: rgba(255,255,255, 0.1);
}

/* Menu */
header {
	background-color: rgba(0,0,0,1);
    width: 100%;
    position: fixed;
    z-index: 100;
    padding: 0px;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
#logo {
    text-align: center;
}
#logo img {
	height: 80px;
	margin-top: -10px;
}
#menu{
	background-color: rgba(0,0,0,0.8);
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    text-transform: uppercase;
}

#menu_list {
	padding-top: 20px;
}

#mobile-menu-button{
	font-size:large;
	font-family: 'Raleway', sans-serif;
}

#mobile-main-menu{
	/*margin-top: 45px;*/
	font-family: 'Raleway', sans-serif;
    display:none;
}

#mobile-main-menu li{
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
}

#mobile-main-menu li a{
    display: block;
    border-top: 1px solid #eee;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
}

#mobile-main-menu li a:hover{
    color: white;
    font-weight: bold;
    background-color: #c9302c;
}

#mobile-main-menu li a:focus{
    color: white;
    font-weight: bold;
    background-color: rgba(60,60,60,0.8);
}

/* Secciones */
.secciones{
	padding: 90px 50px;
}

/* Seccion: Home */
#home {
	color: black;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    background-image: url("../images/puertas/puerta_carruaje2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* Texto de inicio */
.rw-words{
    display: inline;
    text-indent: 10px;
}
.rw-words span{
    position: absolute;
    opacity: 0;
    overflow: hidden;
    width: 100%;
}
.rw-words-1 span{
    animation: rotateWordsFirst 12s linear infinite 0s;
}
.rw-words-2 span{
    animation: rotateWordsSecond 12s linear infinite 0s;
}
.rw-words-3 span{
    animation: rotateWordsThird 12s linear infinite 0s;
}
.rw-words-4 span{
    animation: rotateWordsFourth 12s linear infinite 0s;
}
.rw-words span:nth-child(2){
    animation-delay: 5s;
}
@keyframes rotateWordsFirst{
    0% { opacity: 1; animation-timing-function: ease-in; height: 0px; }
    8% { opacity: 1; height: 60px; }
    26% { opacity: 1; height: 60px; }
    50% { opacity: 1; height: 60px; }
    100% { opacity: 0; }
}
@keyframes rotateWordsSecond{
    0% { opacity: 1; animation-timing-function: ease-in; width: 0% }
    17% { opacity: 0.3; width: 10%; }
    27% { opacity: 1; width: 50%; }
    55% { opacity: 1; width: 100%; }
    100% { opacity: 0; }
}
@keyframes rotateWordsThird{
    0% { opacity: 0; animation-timing-function: ease-in; height: 0px; }
    35% { opacity: 0.5; height: 50px; }
    40% { opacity: 1; height: 70px; }
    60% { opacity: 1; height: 100px; }
    100% { opacity: 0; }
}
@keyframes rotateWordsFourth{
    0% { opacity: 0; animation-timing-function: ease-in; width: 0%; }
    36% { opacity: 0.5; width: 5%; }
    48% { opacity: 1; width: 100%; }
    70% { opacity: 1; width: 100%; }
    100% { opacity: 0; }
}
#textinicio{
   font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
   margin-top:10% ;
   box-shadow: 3px 3px 3px 3px black;
   margin-bottom: 10px;
   background: rgba(255,255,255,0.8);
   height: 170px;
}
@media screen and (max-width: 991px){
   #textinicio{
      font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
      margin-top:10% ;
      box-shadow: 3px 3px 3px 3px black;
      margin-bottom: 10px;
      background: rgba(255,255,255,0.8);
      height: 170px;
      width: 350px;
   }
}


#videopresentacion{
    box-shadow: 7px 7px 4px black;
}

/* Seccion: Nosotros */
#nosotros {
	background-color: rgba(205,22,19,1);
    color: black;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 10x;
}
#nosotros .container .row div .thumbnail {
	background-color: rgba(255,255,255,0.8);
	border-color: rgba(255,255,255,0.8);
}
#text_inicio{
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-top: 30px;
    box-shadow: 3px 3px 3px 3px black;
    margin-bottom: 10px;
    background: rgba(255,255,255,1);
    font-size: 20px;
}
#text_nosotros{
   margin-left: 10%;
   margin-right: 10%;
   font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
   box-shadow: 3px 3px 3px 3px black;
   margin-bottom: 20px;
   background: rgba(255,255,255,1);
   font-size: 20px;
   padding: 0px 5px;
}

div#nosotros.secciones {
    padding-top: 60px;
}
/*seccion: productos*/
#productos{
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
#text_productos{
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-top: 30px;
    box-shadow: 3px 3px 3px 3px black;
    margin-bottom: 10px;
    background: rgba(255,255,255,0.8);   
}
/* Seccion: Ubicacion*/
#ubicacion{
    background-image: url("../images/puertas/puerta_carruaje6.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#ubicacion .jumbotron{
	background-color: rgba(200, 200, 200, 0.8);
	margin: 0px -30px;
}

#ubicacion .container .row div div{
	margin: 0px -35px;
}

#ubicacion .container .row div button {
	margin-top: 5px;
	border: 0px;
	color: black;
	float: right;
}

#ubicacion .container .row div button:focus {
	border: 0px;
}
/* Seccion: Promociones */
#promociones{
    background-color: rgba(205,22,19,1);/*rgba(100, 150, 200, 0.8);*/
    border-bottom: 1px solid #111;
}
#text_promociones{
 text-transform: uppercase;
 margin-left: 10%;
 margin-right: 10%;
 font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;

 margin-top: 30px;
 box-shadow: 3px 3px 3px 3px black;
 margin-bottom: 10px;
 background: rgba(255,255,255,1);   
}

/* Seccion: Productos */
#productos {
   font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
   font-size: 25px;
   background-image: url("../images/puertas/puerta_insulada4.jpg");
   background-position: center center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;}
   #text_imagenes{
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    box-shadow: 3px 3px 3px 3px black;
    margin-bottom: 10px;
    background: rgba(255,255,255,0.8);

}
#productos div h3 {
    background-color: rgba(255,255,255,0.8);
}
#boton, #boton:focus{
    background-color:#c9302c;
    margin-top: 15px;
    margin-bottom: 20px; 
}
#boton:hover{
    background-color:white;
    margin-top: 15px;
    margin-bottom: 20px;
    color: black;
}

/*seccion ubicacion*/
#text_ubicacion{
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    box-shadow: 3px 3px 3px 3px black;
    margin-bottom: 10px;
    background: rgba(255,255,255,1);

}
/* Seccion: Contacto */
#contacto{
	font-family: 'Raleway', sans-serif;
    background-color: rgba(205,22,19,1);
    color: white;
    margin: 0;
    padding: 90px 50px 20px;
}

#contactMe .panel {
	border-width: 0px;
}

#contactMe .panel .panel-heading {
	color:black;
 font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

#contactMe .panel .panel-body {
	color: white; 
	background-color: rgba(205,22,19,1);
}

#send {
	color: black;
}

.empty-input {
    -webkit-box-shadow: 7px 0px 0px 3px rgba(0,255,0,0.7);
    -moz-box-shadow: 7px 0px 0px 3px rgba(0,255,0,0.7);
    box-shadow: 7px 0px 0px 3px rgba(0,255,0,0.7);
}

/*Footer*/
.footer{
    background: black;
    color: white;
    position: relative;
    margin-top: -45px;
    min-height: 55px;
}

.footer-left * {
    height: 55px;
    padding: 0px;
}

.footer-left p {
    float: left;
}

.footer-left a img {
    float: left;
    height: 55px;
}

.footer-right * {
    height: 55px;
    padding: 0px;
}

.footer-right p {
    float: right;
}

.footer-right img {
    float: right;
    height: 100px;
    margin-top: -45px;
}
/* END OF FILE */
