/*General Styles*/
body {
	font-family: Arial;
	background-color: rgba(150,150,150,.4);
}

.areaitem {
	padding: 45px 10px 10px 10px;
	min-height: 640px;
	border-bottom: 3px solid #333;
}
.area_item_title {
	text-align: center;
}
/*Area: Inicio*/

/*Area: Perfil*/

/*Area: Catalogo*/
#imagen-up {
	max-height: 280px;
	max-width: 500px;
	border: 2px solid black;
	display: block;
	position: relative;
}
.hideElem {
	display: none;
	visibility: hidden;
}
#catg {
	
}
#catg div div div img {
	max-height: 120px;
}
/*Area: Mensajes*/
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover{background-color:#f5f5f5}

th,tr,td, table{
    border:2px solid #ddd;
    
}
#msg{
	color:blue;
}

/*Area: Administracion*/


/*Area: Menu*/
a {
    color: white;
}

#nav_catg.nav-pills>li>a{
	
   font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;color: white;
	background-color: #286090;
}
#nav_catg.nav-pills>li>a:hover {
	
   font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;color: black;
	background-color: white;
}
#nav_catg>li.active>a, #nav_catg.nav-pills>li.active>a:focus, #nav_catg.nav-pills>li.active>a:hover {
   
   
   font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif; color: #fff;
    background-color: rgba(0, 0, 0 , 0.7);
 
}
