body {
    background-color: rgba(240, 240, 0, .4);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    color: rgba(210, 0, 0, 0.9);
}

header {
    padding-left: 15px;
    padding-right: 15px;
    width: 83.33333333%;
    margin-left: 8.33333333%;
}

header #cabecera {
    background-color: rgba(190, 0, 0, 0.8);
    border-radius: 15px;
    color: white;
    padding: 5px;
}

header #cabecera .col-8-off-2 {
    width: 66.66666667%;
    margin-left: 16.66666667%;
}

article {
    color: black;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
    width: 83.33333333%;
    margin-left: 8.33333333%;
}

article .panel {
    background-color: rgba(240, 240, 240, 0.9);
    border: 1px solid rgba(0, 130, 0, 0.8);
    border-radius: 5px;
    min-height: 50px;
    width: 100%;
    margin-bottom: 10px;
}

article .panel .panel-head {
    background-color: rgba(50, 180, 50, 0.7);
    min-height: 15px;
    width: 100%;
}

article .panel .panel-head h1,
article .panel .panel-head h2,
article .panel .panel-head h3,
article .panel .panel-head h4,
article .panel .panel-head h5 {
    margin: 0px;
    padding: 10px;
    text-align: center;
}

article .panel .panel-body {
    padding: 5px;
    min-height: 100px;
    font-size: 16px;
}

article .panel .panel-body .item {
    width: 50%;
    float: left;
    min-height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
}

article .panel .panel-body .item b {
    padding-left: 10px;
    border-left: 2px solid green;
    font-size: 17px;
}

article .panel .panel-body .item div {
    padding-left: 10px;
    border-left: 2px solid red;
    margin-top: 10px;
    margin-left: 10px;
    font-style: italic;
}

article .panel .panel-body .item.item-full {
    width: 100%;
    float: inherit;
}

article .panel .panel-body .item.item-full div {
    font-style: normal;
}

article .panel .panel-footer {
    padding: 10px;
    min-height: 20px;
    font-size: 14px;
    color: white;
    background-color: green;
    text-align: center;
}

.panel-footer a {
    color: yellow;
}

footer {
    margin-left: -8px;
    margin-right: -8px;
    background-color: rgba(0,0, 140, 0.8);
    color: white;
    border-top: 8px groove rgba(10,10, 10, 1);  
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 50px;
    padding-top: 15px;
}