<body>
	<table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#0170bc" > 
		<tr> 
			<td align="center" >
				<b>
					<font face="verdana,arial,helvetica" size="4" color="#ffffff">
						Nuevo mensaje de PORTOMEX  
					</font>
				</b>
			</td> 
		</tr> 
		<tr> 
			<td bgcolor="#000000" align="center">
				<span class="fuente8">
					<font face="verdana,arial,helvetica" size="1"> 
						<a href="http://portomex.inets.com.mx/" target="_blank"> 
							<img src="%pm%"  border="0" alt="Pincha para acceder a la página de PORTOMEX" vspace="3"/>
						</a> 
					</font>
				</span>
			</td> 
		</tr>
		<tr> 
			<td align="center" bgcolor="#B1BDCB" valign="top"> 
				<font face="verdana,arial,helvetica" size="2">  
					<br/>
					<b>Nombre:</b>
					<br/>
					%nom%
					<br/> 
					<br/>
					<b>Asunto:</b> 
					<br/> 
					%asunto% 
					<br/> 
					<br/> 
				</font>
			</td>
		</tr>
	</table> 
	<br/> 
	<table width="100%" cellspacing="0" cellpadding="2" border="0"> 
		<tr> 
			<td  align="center" valign="top"> 
				<font face="verdana,arial,helvetica" size="2"> 
				<b>Mensaje:</b> 
				<br/> 
				%msg%
				</font>
			</td>
		</tr>
	</table>
</body>